.card {
  --bs-card-spacer-x: 1rem !important;
}
.form-group {
  margin-bottom: 0.5rem !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.form-control {
  width: 35rem !important;
}
.card-header {
  text-align: center;
}
.photo-control {
  min-height: 300px;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed blue;
  margin: 5px;
}
.photo-btn {
  display: flex;
  justify-content: space-between;
}
.mt-5 {
  margin-top: 8rem !important;
}
.btn-group {
  display: inline-flex !important;
}
.btn-group > label[ng-reflect-btn-radio] {
  line-height: 23px !important;
  font-size: 15px !important;
  display: flex;
  align-items: center;
}
.center-property-card {
  display: flex;
  justify-content: center;
}
.col-left {
  flex: 0 0 auto;
  width: 670px !important;
}
.col-right {
  flex: 0 0 auto;
  width: 335px !important;
}
.form-control[_ngcontent-ng-c3523809663] {
  width: 100% !important;
}
